<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>Hello, world!</title>
  </head>
  <body>
     <div class="container-fluid  bg-dark text-light py-3">
 <header class="text-center">
    <h1 class="display-6">Welcome To TuneHub</h1>
 </header>
 </div>


<div class="homediv">
<a href="/map-register"><button class="btn btn-danger" Style="margin-right:40px;">Click here to Register</button></a>
<br/><br/>
<a href="/map-login "><button class="btn btn-danger">Click here to Login</button></a>
</div>
    
  </body>
</html>